extends ../layout/layout.jade
block styles
block content
  h1 QRCode
  #qrcode
    input.form-control(type='text', autofocus, v-model="text" debounce="300")
    .panel.panel-default
      .panel-heading
        h3.panel-title Result
        #result.pane-body.
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js', integrity='sha384-0B/45e2to395pfnCkbfqwKFFwAa7zXdvd42eAFJa3Vm8KZ/jmHdn93XdWi//7MDS', crossorigin='anonymous')
  script.
    var vm = new Vue({
      el: '#qrcode',
      data: {
        text: ''
      }
    });
    vm.$watch('text', function(val) {
      $('#result').html('').qrcode({"width" : 300, "height" : 300, "text" : val});
    });
    $(function(){$('#result').qrcode({"width" : 300, "height" : 300, "text" : ""})});
